<a href="https://colab.research.google.com/github/Umaporn19/data_viz_2022/blob/main/Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structure (โครงสร้างข้อมูล)
การเก็บข้อมูลหลาย ๆ ตัวไว้ด้วยกันอย่างเป็นระเบียบ

## ```List()``` 

- เก็บอะไรก็ได้
- ลำดับในการเก็บ มีความสำคัญ

In [1]:
list_a = [1,2,3,4,5,6] #เก็บข้อมูลไว้ใน list_a    # [  ] มีชื่อว่า Square brackets

In [2]:
list_a #รันค่าออกมาดู

[1, 2, 3, 4, 5, 6]

In [3]:
list_b = ['ab',2,3.14,list_a] #list สามารถเก็บได้ทุกชนิดได้หมเ

In [4]:
list_b #รันค่าออกมาดู

['ab', 2, 3.14, [1, 2, 3, 4, 5, 6]]

In [5]:
list_a[3] #ในคอมจะนับตัวแรกคือตัวที่ 0

4

### indecing การชี้สมาชิกใน list ด้วย เลขลำดับของ list

In [6]:
list_b[3] #list ตัวที่ 3 ใน list b

[1, 2, 3, 4, 5, 6]

In [7]:
list_b[3][3]  #list ตัวที่ 3 ใน list b แล้วก็ตัวที่ 3 ใน [ ] อีกที

4

In [8]:
list_b[3][4]  #list ตัวที่ 3 ใน list b แล้วก็ตัวที่ 4 ใน [ ] อีกที

5

In [11]:
list_a[6] #เรียก list ตัวที่ไม่ได้อยู่ใน [] จะเอ่อเร่อ

IndexError: ignored

In [12]:
list_a[-1] #index จากตัวด้านหลังตัวสุดท้ายของ list

6

In [13]:
list_a[-4] #index นับจากหลังมาหน้าตัวที่ 4

3

### การสร้าง ```list()```

In [14]:
list_x1 = []  #การสร้าง list แบบที่ 1 
list_x2 = list() #การสร้าง list แบบที่ 2

In [15]:
print(list_x1) #print ทั้ง 2 list จะได้ list ว่าง
print(list_x2)

[]
[]

### เพิ่มสมาชิกเข้าไปใน list ด้วย `append()`

In [16]:
list_x1.append(2) #ไม่มีอะไรเกิดขึ้นแสดงว่า 2 มันต้องไปปรากฎที่ไหนสักที่หนึ่ง มันถูกแทรกเข้าไปใน list_x1 แล้ว

In [17]:
list_x1 #จะได้ผลออกมา

[2]

In [18]:
list_x1.append(4) #เอา 4 มาแทนใน list_x1
print(list_x1) #ปริ้นค่า list_x1

[2, 4]

In [19]:
list_x1[0] #ตัวที่ 0 คือเลข 2

2

In [20]:
list_x1[-1] #-1 คือดึงตัวให้แสดงออกมาคือตัวหลังตัวแรก

4

In [21]:
list_x2 #จะเป็นช่องว่าง

[]

In [22]:
list_x2.append('ha')  #แทนค่า ha ใน list_x2

In [23]:
list_x2 #แสดงค่า list_x2 ออกมา #ที่ผลรันออกมา 2 ตัวเพราะรัน 2 ครั้ง

['ha']

### ลบสมาชิกจาก list

In [24]:
list_x1.append('ha') # ลบคำว่า ha ออกครั้งนึง

In [25]:
list_x1 #ลองแสดงค่าออกมาดู

[2, 4, 'ha']

In [26]:
list_x1.pop() #ลบค่า x1 ครั้งที่ 1

'ha'

In [27]:
list_x1.pop() #ลบคำว่า ha ออก
print(list_x1) #ผลรันออกมาก็ตะได้แค่ 2 กับ 4

[2]

### ```len()``` ตรวจสอบจำนวนสมาชิกของ list

In [28]:
print(list_b) #ปริ้นค่าที่อยู่ใน list_b ออกมา
print(len(list_b)) #ปริ้นจำนวนใน list_b ออกมา

['ab', 2, 3.14, [1, 2, 3, 4, 5, 6]]
4

In [29]:
len(list_a) #ปริ้นจำนวนใน list_a ออกมา

6

### String is a list of charactesrs

In [30]:
st_stat = 'Department od Statistics, Faclty od Science ' #เก็บข้อมูลไว้ใน st_stat

In [31]:
st_stat[10] #ดูตัวที่ 10

' '

In [32]:
len(st_stat) #ดูว่ามีความยาวเท่าไหร่

44

### List Slicing การเฉือน list ```:```

 ``` list [จุดเริ่มต้น(ทึบ) : จุดสุดท้าย (โปร่ง)] ```

 ``` list [ จุดเริ่มต้น (ทึบ) : จุดสุดท้าย (โปร่ง) : step)] ```

![Unknown.gif]()

In [33]:
list_a #แสดงค่า list_a

[1, 2, 3, 4, 5, 6]

In [34]:
list_a[2] #แสดงค่าตัวที่ 2 ใน list คือ 3

3

In [35]:
list_a[-3:]  # : เรียกว่า Colon #เอา 3 ตัวสรุดท้ายจากด้านหลัง เพราะมี -

[4, 5, 6]

In [36]:
list_a[1:4] #เริ่มต้นตัวที่ 1 นับไปถึงตัวที่ 4 แต่ไม่เอาตัวที่ 4 เอาแค่ตัวที่ 3 พอ #หลัง colon ไม่ใส่ละไว้ในฐานที่เข้าใจ

[2, 3, 4]

In [37]:
list_a[:4] #เอาคั้งแต่ตัวที่ 0 ถึงตัวที่ 3

[1, 2, 3, 4]

In [38]:
list_a[:] #เอาทุกตัว

[1, 2, 3, 4, 5, 6]

### Step

In [39]:
list_c = [1,2,3,4,5,6,7,8,9,10,11,12,13,] #เก็บค่าไว้ในตัวแปร list_c

In [40]:
list_c[:10:] #เอา 10 ตัวแรก

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
list_c[:10:2] #กระโดนทีละ 2 ขั้น

[1, 3, 5, 7, 9]

In [42]:
list_c[::-1] #วิ่งมาจากด้านหลัง

[13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### ```range()```

In [43]:
range(21) #ในลักษณะ list เริ่ม 0 โปร่งค้าที่ 21 จะได้แค่ 20 ตัว #อาจจะเป็นการวนลูบก็ได้

range(0, 21)

In [44]:
a = list(range(21)) # เก็บตัวแปรไว้ใน a

In [45]:
a #รับค่าออกมาดู

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [46]:
list(range(1,21)) #รันค่าออกดู

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

## การบ้านครั้งที่ 2  (เดี่ยว)   คำนวณเวลาเป็นวินาทีของเวลาต่อไปนี้โดยใช้คำสั่ง split() ช่วย (print ออกมาให้สวยงาม)

- 12:30:15
- 13:41:07
- 09:11:50
- 21:30:15
- 03:10:15

In [47]:
#01:02:03 

a = (1*60*60) + (2*60) + 3
print(f'01:02:03 แปลงเป็นวินาทีได้ {a} วินาที')

01:02:03 แปลงเป็นวินาทีได้ 3723 วินาที

### ข้อที่ 1 --> 12:30:15

In [48]:
nueng = (12*60*60) + (30*60) + 15
print(f'12 นาฬิกา 2 นาที กับอีก 3 วินาที สามารถแปลงเป็นวินาทีได้เท่ากับ -->  {nueng} วินาที')

12 นาฬิกา 2 นาที กับอีก 3 วินาที สามารถแปลงเป็นวินาทีได้เท่ากับ -->  45015 วินาที

### ข้อที่ 2 --> 13:41:07

In [49]:
song = (13*60*60) + (41*60) + 7
print(f'13 นาฬิกา 41 นาที กับอีก 7 วินาที สามารถแปลงเป็นวินาทีได้เท่ากับ -->  {song} วินาที')

13 นาฬิกา 41 นาที กับอีก 7 วินาที สามารถแปลงเป็นวินาทีได้เท่ากับ -->  49267 วินาที

### ข้อที่ 3 --> 09:11:50

In [50]:
sam = (9*60*60) + (11*60) + 50
print(f'9 นาฬิกา 11 นาที กับอีก 50 วินาที สามารถแปลงเป็นวินาทีได้เท่ากับ -->  {sam} วินาที')

9 นาฬิกา 11 นาที กับอีก 50 วินาที สามารถแปลงเป็นวินาทีได้เท่ากับ -->  33110 วินาที

### ข้อที่ 4 --> 21:30:15

In [51]:
see = (21*60*60) + (30*60) + 15
print(f'21 นาฬิกา 30 นาที กับอีก 15 วินาที สามารถแปลงเป็นวินาทีได้เท่ากับ -->  {see} วินาที')

21 นาฬิกา 30 นาที กับอีก 15 วินาที สามารถแปลงเป็นวินาทีได้เท่ากับ -->  77415 วินาที

### ข้อที่ 5 --> 03:10:15

In [52]:
ha = (3*60*60) + (10*60) + 15
print(f' 3 นาฬิกา 10 นาที กับอีก 15 วินาที สามารถแปลงเป็นวินาทีได้เท่ากับ -->  {ha} วินาที')

 3 นาฬิกา 10 นาที กับอีก 15 วินาที สามารถแปลงเป็นวินาทีได้เท่ากับ -->  11415 วินาที

## Dictionary

- คล้าย list ()
- index เป็นอะไรก็ได้ไม่จำเป็นต้องเป็นตัวเลขลำดับ
- ลำดับไม่มีความสำคัญ

### สร้าง Dictionary

In [57]:
dict_a = {1: 'Happy' ,'N': 'New' ,'2022' : 'Year'} # cutly brackets #กำหนดค่า

### การชี้ สมาชิกใน Dictionary

In [62]:
dict_a[1] #พิมพ์ 1 ให้ปริ้น Happy ออกมา เหมือนเป็นตัวแทน

'Happy'

In [63]:
dict_a['N'] #พิมพ์ 'N' ให้ปริ้น New ออกมา เหมือนเป็นตัวแทน

'New'

In [64]:
dict_a.keys() #ดูว่า Dict นี้มีอะไรบ้าง ปริ้น keys ออกมาก่อน

dict_keys([1, 'N', '2022'])

In [65]:
dict_a.values() #ดูว่ามี Values อะไรบ้าง

dict_values(['Happy', 'New', 'Year'])

### การเพิ่มสมาชิกลงไปใน Dictionary

In [68]:
dict_a[7] = 3.14 #เพิ่มสมาชิกลงไป #ชี้ตัวที่ 7 จะมีค่าเท่ากับ 3.14

In [69]:
dict_a #ปริ้นค่าออกมาดู จะเห็นว่าถ้าชี้ที่ 7 จะมีค่าเท่ากับ 3.14 เพิ่มเข้ามา

{1: 'Happy', '2022': 'Year', 7: 3.14, 'N': 'New'}

In [73]:
dict_a['N']  = 'NNNEEEWWW' #ถ้ากรณีมีตัวซ้ำมันจะไปอัพเดตใหม่

In [74]:
dict_a #ลองปริ้นค่าออกมาดู

{1: 'Happy', '2022': 'Year', 7: 3.14, 'N': 'NNNEEEWWW'}

## Numpy Array

- ใส่รูป

- เก็บได้แต่ตัวเลข 
- อ้างอิงโดยใช้ พิกัด (2 มิติ ก็มองเป็น Matrix)

In [89]:
import numpy  #การเรียกใช้งานแพ็คเกจคนอื่น

### 1D array

In [96]:
list_A = [1,2,3,4,5] #ใส่ค่าลงไปใน list_A

In [97]:
arr_a = numpy.array(list_A) #เรียกใช้ umpy.array ใน list_A

In [99]:
arr_a #ปริ้นออกมาดู

array([1, 2, 3, 4, 5])

In [103]:
list_A #ปริ้นค่า list_A ออกมาดู

[1, 2, 3, 4, 5]

In [104]:
arr_a[0] #ลองเรียกใช้เหมือน list ตัวที่ 0 ก็คือเลข 1

1

In [105]:
list_A[0]  #ลองเรียกใช้เหมือน list ตัวที่ 0 ก็คือเลข 1

1

In [106]:
5* arr_a #Matrix (Scalar multiplication)

array([ 5, 10, 15, 20, 25])

In [107]:
5*list_A #จะซ้ำกัน 5 รอบ

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [108]:
arr_b = numpy.array([10,20,30,40,50]) #สร้างตัวแปรมาใหม่

In [110]:
print(arr_a) #ลองปริ้นดู ปริ้นออกมาให้คนปกติดู

[1 2 3 4 5]

In [112]:
arr_a + arr_b #บวก Matrix #ตำแหน่งเดียวกันบวกกัน

array([11, 22, 33, 44, 55])

In [122]:
arr_a.shape #ดูขนาดของ array มีจำนวน 5 สมาชิก

(5,)

### 2D array

In [114]:
import numpy as np  #import แบบที่ 2 เปลี่ยนชื่อให้มันเป็น np

In [117]:
arr2_z = np.array([[1,2,3],[4,5,6]]) #list ซ้อน list

In [118]:
arr2_z #ปริ้นค่ามาดู #แถวคือ 1 4 , 2 5 , 3 6 หลัก คือ 1 2 3, 4 5 6

array([[1, 2, 3],
       [4, 5, 6]])

In [120]:
arr2_z.shape #ดูขนาดว่ามีเท่าไหร่ #มี 2 แถว 3 หลัก

(2, 3)

### `np.zeros()`

In [125]:
arr2_3_5_0 = np.zeros((3,5)) #ปริ้น array 0 ที่มีขนาด 3 แถว 5 หลัก

In [126]:
arr2_3_5_0 # ลองปริ้นออกมาดู

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [135]:
arr2_3_5_0[1,2] = 9 #array แถวที่ 1 หลักที่ 2 เป็นเลข 9 #กำหนดค่า

In [130]:
arr2_3_5_0 #ลองปริ้นค่าออกมาดู

array([[0., 0., 0., 0., 0.],
       [0., 0., 9., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [136]:
arr2_3_5_0[1,2] #ดูค่าของแถวที่ 1 หลักที่ 2 #ชี้สมาชิก

9.0

In [134]:
print(list_A) # เปลี่ยนค่าใน list ()
list_A[-1] = 'Christmas' #เปลี่ยนค่าตัวสุดท้ายของ list เป็นคำว่า Christmas
print(list_A)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 'Christmas']

### `np.ones () `

In [141]:
arr2_4_5_1 = np.ones((4,5))  #ปริ้น array 1 ที่มีขนาด 4 แถว 5 หลัก

In [142]:
arr2_4_5_1 #ค่าจะเป็น 1 หมด

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [145]:
arr2_4_5_200 = 200*np.ones((4,5)) #สามารถกำหนด Matrix เริ่มต้นเป็นอะไรก็ได้ในที่นี้เราเริ่ม 200

In [146]:
arr2_4_5_200 #ลองปริ้นค่าออกมาดู

array([[200., 200., 200., 200., 200.],
       [200., 200., 200., 200., 200.],
       [200., 200., 200., 200., 200.],
       [200., 200., 200., 200., 200.]])

## Matrix operations

#### การบวก ลบ Matrix $M \pm N$ บวกลบตัวที่อยู่ในตำแหน่งเดียวกัน

In [148]:
arr2_4_5_200 + arr2_3_5_0 #ขนาดไม่เหมือนกันบวก ลบ กันไม่ได้

ValueError: ignored

In [150]:
arr2_4_5_200 + arr2_4_5_1 #สามารถบวกกันได้เพราะขนาดเท่ากัน

array([[201., 201., 201., 201., 201.],
       [201., 201., 201., 201., 201.],
       [201., 201., 201., 201., 201.],
       [201., 201., 201., 201., 201.]])

### การคูณ Matrix 

- $aM$ scalar คูณ Matrix ( scalar คูณกระจายเข้าไปทุกตัว)
- $M\times N$ คูณ Matrix ( แถว คูณ หลัก  )

$aM$

In [151]:
5* arr_a #Matrix (Scalar multiplication)

array([ 5, 10, 15, 20, 25])

$M\times N$

- (m,n)  $\times$ (n x o) = (m,o) (Shape)

ใส่รูป

In [158]:
mat_a = np.array([[2,3,5],[4,6,7]]) #กำหนดค่า
mat_b = np.array([[1,2,5],[2,4,-7]])
mat_c = np.array([[2,3],[4,6],[7,9]])

In [159]:
mat_a #ปริ้นค่าออกมาดู

array([[2, 3, 5],
       [4, 6, 7]])

In [160]:
mat_b #ปริ้นค่าออกมาดู

array([[ 1,  2,  5],
       [ 2,  4, -7]])

In [161]:
mat_c #ปริ้นค่าออกมาดู

array([[2, 3],
       [4, 6],
       [7, 9]])

In [165]:
np.dot(mat_a,mat_c) # mat_a คูณ mat_c

array([[ 51,  69],
       [ 81, 111]])

In [166]:
np.dot(mat_b,mat_c) # mat_b คูณ mat_c

array([[ 45,  60],
       [-29, -33]])

In [167]:
np.dot(mat_c,mat_a) # mat_c คูณ mat_a จะเห็นว่าค่าออกมาจะไม่เหมือนกันเพราะมันสลับกันไม่ได้

array([[16, 24, 31],
       [32, 48, 62],
       [50, 75, 98]])

In [170]:
mat_X =  np.dot(mat_c,mat_b) # mat_c คูณ mat_b จะเห็นว่าค่าออกมาจะไม่เหมือนกันเพราะมันสลับกันไม่ได้
print(mat_X)

[[  8  16 -11]
 [ 16  32 -22]
 [ 25  50 -28]]

In [169]:
mat_a * mat_b #แต่ก่อนทำแบบนี้ไม่ได้ #คูณตัวตำแหน่งเดียวกัน #คูณแบบมั่ว

array([[  2,   6,  25],
       [  8,  24, -49]])

### Matrix Slicing

In [171]:
mat_X[:2,:2] #ตัดแถวที่ 2 หลักที่ 2

array([[ 8, 16],
       [16, 32]])

## การบ้านครั้งที่ 3 


1. สร้าง array ที่เป็นรูปต้น Chrismas
2. slice เลข 1 ออกมาจาก array HW3 ด้วยการ slice แค่ครั้งเดียว

In [182]:
HW3 = np.zeros((10,10))
HW3

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [183]:
HW3[::4,2] = 1
HW3[::4,4] = 1
HW3[::4,6] = 1
HW3[::4,8] = 1
HW3

array([[0., 0., 1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

### ข้อที่ 1 สร้าง array ที่เป็นรูปต้น Chrismas

In [236]:
A = 9*np.ones((10,10))
A

array([[9., 9., 9., 9., 9., 9., 9., 9., 9., 9.],
       [9., 9., 9., 9., 9., 9., 9., 9., 9., 9.],
       [9., 9., 9., 9., 9., 9., 9., 9., 9., 9.],
       [9., 9., 9., 9., 9., 9., 9., 9., 9., 9.],
       [9., 9., 9., 9., 9., 9., 9., 9., 9., 9.],
       [9., 9., 9., 9., 9., 9., 9., 9., 9., 9.],
       [9., 9., 9., 9., 9., 9., 9., 9., 9., 9.],
       [9., 9., 9., 9., 9., 9., 9., 9., 9., 9.],
       [9., 9., 9., 9., 9., 9., 9., 9., 9., 9.],
       [9., 9., 9., 9., 9., 9., 9., 9., 9., 9.]])

In [237]:
A[0,5] = 1
A[1,4] = 1
A[1,5] = 1
A[1,6] = 1
A[2,3] = 1
A[2,4] = 1
A[2,5] = 1
A[2,6] = 1
A[2,7] = 1
A[3,4] = 1
A[3,5] = 1
A[3,6] = 1
A[3,7] = 1
A[4,3] = 1
A[4,4] = 1
A[4,5] = 1
A[4,6] = 1
A[4,7] = 1
A[5,2] = 1
A[5,3] = 1
A[5,4] = 1
A[5,5] = 1
A[5,6] = 1
A[5,7] = 1
A[5,8] = 1
A[6,3] = 1
A[6,4] = 1
A[6,5] = 1
A[6,6] = 1
A[6,7] = 1
A[7,2] = 1
A[7,3] = 1
A[7,4] = 1
A[7,5] = 1
A[7,6] = 1
A[7,7] = 1
A[7,8] = 1
A[8,4] = 1
A[8,5] = 1
A[8,6] = 1
A[9,4] = 1
A[9,5] = 1
A[9,6] = 1
A

array([[9., 9., 9., 9., 9., 1., 9., 9., 9., 9.],
       [9., 9., 9., 9., 1., 1., 1., 9., 9., 9.],
       [9., 9., 9., 1., 1., 1., 1., 1., 9., 9.],
       [9., 9., 9., 9., 1., 1., 1., 1., 9., 9.],
       [9., 9., 9., 1., 1., 1., 1., 1., 9., 9.],
       [9., 9., 1., 1., 1., 1., 1., 1., 1., 9.],
       [9., 9., 9., 1., 1., 1., 1., 1., 9., 9.],
       [9., 9., 1., 1., 1., 1., 1., 1., 1., 9.],
       [9., 9., 9., 9., 1., 1., 1., 9., 9., 9.],
       [9., 9., 9., 9., 1., 1., 1., 9., 9., 9.]])

### ข้อ 2 slice เลข 1 ออกมาจาก array HW3 ด้วยการ slice แค่ครั้งเดียว

## Pandas Dataframe (แยกออกไปเป็น Notebook เฉพาะ)